@media (min-width:840px){
    .feedContainer{
        display: flex;
    }

    .containerPosts{
        display: flex;
        flex-direction: column !important;
        max-width: 25rem;
        justify-content: center;
        align-items: center;
        margin-left: 5rem !important;
        margin-top: 4.2rem !important;
    }
}

@media (min-width:1024px){
    .feedContainer{
        display: flex;
    }

    .containerPosts{
        display: flex;
        flex-direction: column !important;
        max-width: 30rem;
        justify-content: center;
        align-items: center;
        margin-left: 7rem !important;
        margin-top: 4.2rem !important;
    }

}

@media (min-width:1200px){
    .feedContainer{
        display: flex;
    }

    .containerPosts{
        max-width: 50rem;
        margin-left: 8rem !important;
        
    }
}

