.feedContainer{
    display: flex;
    justify-content: space-between;
}

.containerPosts{
    display: flex;
    flex-direction: column !important;
    max-width: 50rem;
    justify-content: center;
    align-items: center;
    margin-left: 8rem !important;
   
    margin-top: 4.2rem !important;
}