@media (max-width:640px){
    .MuiModal-root{
        display: flex;
        justify-content: center;
        align-items: center;
            
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .formPost{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .creatPostContainer{
        display: flex;
        flex-direction: column;
        width: 85%;
        height: 95vh;
        background-color: #fbf9f7;
        font-family: 'Karma';
        margin: auto;
        border-radius: 0.25rem;
        overflow-y: scroll;
        scrollbar-width: none;
        position: relative;
        scroll-behavior: smooth;
     
    }

    .createPostTitle{
        width: 100%;
        display: flex;
        
    }

    .createPostTitle h2{
        text-align: center;
        width: 95%;
        text-align: center;
        margin: 0.5rem 0 0 2.5rem;
        font-size: 1rem !important;
    }

    .closeButton{
        border: #EC5853 2px solid;
        border-radius: 50%;
        background-color:#e8e8e8;
        transition: 0.3s all ease-in-out !important;
        height: 1.1rem !important;
        width: 1.1rem !important;
    }

    .closeButton:hover{
        transform: rotate(45deg);
        
    }

    .closeButtonContainer{
        margin: 0rem 0.2rem 0 0 !important;
    }

    .descriptions{
        width: 75%;
    }

    .createTitle{
        padding: 0.2rem;
        margin-bottom: 0.5rem;
        width: 100%;
        font-size: 0.8rem;
        height: 1.3rem;
        background-color: #e8e8e8;
        border: none;
        border-radius: 0.25rem;
    }

    .createDescription{
        padding: 0.2rem;
        font-family: 'karma';
        max-width: 100%;
        width: 100%;
        min-width: 100%;
        max-height: 35vh;
        height: 8rem;
        margin: 0.5rem 0;
        font-size: 0.8rem;
        background: #e8e8e8;
        border: none;
        border-radius: 0.25rem;
    }

    .selectCategory{
        font-family: 'karma';
        width: 13rem;
        border: none;
        border-radius: 0.25rem;
        background: #e8e8e8;
        margin: 0rem 0 0.5rem 0;
        font-size: 0.8rem;
    }

    .uploadMedia{
        width: 15rem !important;
        height: 13.5rem !important;
        margin-top: 0.8rem;
        display: flex;
        flex-direction: column;
    }

    label{
        padding: 0.5rem;
        width: 15rem !important;
        height: 2.5rem !important;
        margin: 0.5rem 0 1rem 0;
        font-size: 0.9rem !important;
        background: #EC5853;
        color: #fbf9f7 !important;
        border: none;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    #filepond--drop-label-qb0w8oqe0{
        height: 2rem !important;
        width: 18 rem !important;
        background-color: #EC5853;
        cursor: pointer;
        
    }

    .filepond--root a{
        display: none;
        color: green !important;
    }

    .filepond--browser{
        display: flex !important;
        flex-direction: row !important;
        width: 15rem !important;
        background-color: greenyellow !important;
    }

    .createPostButton{
        padding: 0.8rem;
        width: 13.5rem;
        height: 2.5rem;
        margin: 15.5rem 0 1rem 0;
        font-size: 1.125rem;
        background: #EC5853;
        color: #fbf9f7;
        border: none;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .uploadVideo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 15rem !important;
    }

    .videoInput{
        margin: 1rem;
    }

    .previewReproducer{
        width: 15rem;
        height: 14rem;
        border-radius: 0.25rem !important;
    }

    .createPostButton svg{
        padding: 0.1rem 0;
        margin-left: 0.4rem;
    }

    .addPost{
        display: flex;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        font-size: 1.2rem;
        font-weight: 400;
        font-family: roboto;
        cursor: pointer;
        height: 2.5rem;
        width: 8rem;
        padding: 0.2rem 0.8rem;
        margin: 0rem 2rem;
        justify-content: center;
        align-items: center;
    }

    .addIcon{
        padding: 0.1rem 0;
        margin-left: 0.4rem;
    }


    .confirmImg img{
        width: 12rem;
        height: 8rem;
    }

    .confirmVideo{
        width: 100%;
        height: 4rem;
        color: black;
        background-color: #EC5853;
    }

    .videoInput{
        width: 100%;
        height: 4rem;
        color: black;
    }

}

@media (min-width:640px){
    .formPost{
        width: 100%;
    }

    .creatPostContainer{
        width: 70%;
        height: 85vh;
        background-color: #fbf9f7;
    }

    .createPostTitle{
        display: flex;
        justify-content: space-between;
    }

    .selectCategory{
        width: 20rem;
    }

    .uploadMedia{
        width: 18rem !important;
        height: 13.5rem !important;
        margin-top: 1rem;
    }

    label{
        padding: 0.8rem;
        width: 18rem !important;
        height: 2rem !important;
        margin: 0.5rem 0 1rem 0;
        font-size: 1.125rem;
     }
    
    .createPostButton{
        margin: 16rem 0 1rem 0;
    }

    .uploadVideo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 18rem !important;
    }

    .previewReproducer{
        width: 18rem;
        height: 14rem;
    }

    .confirmImg img{
        width: 12rem;
        height: 8rem;
    }

    .confirmVideo{
        width: 100%;
        height: 4rem;
        color: black;
        background-color: #EC5853;
    }

    .videoInput{
        width: 100%;
        height: 4rem;
    }

    .previewReproducer{
        border-radius: 0.125rem;
    }
}

@media (min-width:768px){
   
    .formPost{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
   
    .creatPostContainer{
        width: 85%;
        overflow-y: scroll;
        scrollbar-width: none;
        position: relative;
        scroll-behavior: smooth;
    }
    
    .createPostTitle{
        width: 100%;
    }

    .createPostTitle h2{
        text-align: center;
        width: 95%;
        margin: 0.5rem 0 0 2.5rem;
        font-size: 1.2rem !important;
    }

    .closeButton{
        border: #EC5853 2px solid;
        border-radius: 50%;
        background-color:#e8e8e8;
        transition: 0.3s all ease-in-out !important;
        height: 1.1rem !important;
        width: 1.1rem !important;
    }

    .closeButton:hover{
        transform: rotate(45deg);
        
    }

    .closeButtonContainer{
        margin: 0rem 0.2rem 0 0 !important;
    }

    .descriptions{
        width: 75%;
    }

    .createTitle{
        padding: 0.2rem;
        margin-bottom: 0.5rem;
        width: 100%;
        font-size: 0.8rem;
        height: 1.3rem;
        background-color: #e8e8e8;
        border: none;
        border-radius: 0.25rem;
    }

    .createDescription{
        padding: 0.2rem;
        font-family: 'karma';
        max-width: 100%;
        width: 100%;
        min-width: 100%;
        max-height: 35vh;
        height: 8rem;
        margin: 0.5rem 0;
        font-size: 0.8rem;
        background: #e8e8e8;
        border: none;
        border-radius: 0.25rem;
    }

    .selectCategory{
        font-family: 'karma';
        width: 16.5rem;
        border: none;
        border-radius: 0.25rem;
        background: #e8e8e8;
        margin: 0rem 0 0.5rem 0;
        font-size: 0.8rem;
    }

    .uploadMedia{
        width: 16.5rem !important;
        height: 13.5rem !important;
        margin-top: 0.8rem;
        display: flex;
        flex-direction: column;
    }

    label{
        padding: 0.5rem;
        width: 16.5rem !important;
        height: 2.5rem !important;
        margin: 0.5rem 0 1rem 0;
        font-size: 0.9rem !important;
        background: #EC5853;
        color: #fbf9f7 !important;
        border: none;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .filepond--root a{
        display: none;
        color: green !important;
    }

    .createPostButton{
        padding: 0.8rem;
        width: 13.5rem;
        height: 2.5rem;
        margin: 17rem 0 1rem 0;
        font-size: 1.125rem;
        background: #EC5853;
        color: #fbf9f7;
        border: none;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .uploadVideo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 16.5rem !important;
    }

    .videoInput{
        margin: 1rem;
    }

    .previewReproducer{
        width: 16.5rem;
        height: 15.4rem;
        border-radius: 0.25rem !important;
    }

    .createPostButton svg{
        padding: 0.1rem 0;
        margin-left: 0.4rem;
    }

    .addPost{
        display: flex;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        font-size: 1.2rem;
        font-weight: 400;
        font-family: roboto;
        cursor: pointer;
        height: 2.5rem;
        width: 8rem;
        padding: 0.2rem 0.8rem;
        margin: 0rem 2rem;
        justify-content: center;
        align-items: center;
    }

    .addIcon{
        padding: 0.1rem 0;
        margin-left: 0.4rem;
    }

    .confirmImg img{
        width: 12rem;
        height: 8rem;
    }

    .confirmVideo{
        width: 100%;
        height: 4rem;
        color: black;
        background-color: #EC5853;
    }

    .videoInput{
        width: 100%;
        height: 4rem;
    }
}

@media (min-width:840px){
    .creatPostContainer{
        width: 70%;
        height: 95vh;
        overflow-y: scroll;
        scrollbar-width: none;
        position: relative;
        scroll-behavior: smooth;
    }
    .createPostButton{
        margin: 19rem 0 1rem 0;
    }
}

@media (min-width:1024px){
    .creatPostContainer{
        width: 60%;
        height: 95vh;
        overflow-y: scroll;
        scrollbar-width: none;
        position: relative;
        scroll-behavior: smooth;
    }
    
    .selectCategory{
        font-family: 'karma';
        width: 18.15rem;
        height: 1.5rem;
        border: none;
        border-radius: 0.25rem;
        background: #e8e8e8;
        margin: 0rem 0 0.5rem 0;
        font-size: 0.8rem;
        color: white;
        padding: 0.2rem;
        background-color: #EC5853;
    }

    .createPostButton{
        padding: 0.8rem;
        width: 13.5rem;
        height: 2.5rem;
        margin: 20.5rem 0 1rem 0;
        cursor: pointer;
    }

    .uploadVideo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 18.15rem !important;
    }

    .uploadMedia{
        width: 18.15rem !important;
        height: 13.5rem !important;
        margin-top: 0.8rem;
        display: flex;
        flex-direction: column;
    }

    .videoLabel{ 
        background-color: #EC5853;
        font-size: 0.8rem;
        color: white;
        border-radius: 00.25rem;
    }

    .videoInput{
        display: none;    
    }

    .previewReproducer{
        width: 18.15rem;
        height: 16.94rem;
        border-radius: 0.25rem !important;
    }
}