@media (max-width:640px){
    .feedCard{
        display: flex;
        width: 22.9rem;
        height: 27.5rem;
        margin: 2.2rem 0rem -3rem 0;
        font-family: 'karma';
    }

    .css-1vq0zqz-MuiPaper-root-MuiCard-root{
        max-height: 25rem !important;
    }

    .userIntro{
        padding: 0 !important;
    }
    
    .css-1ssile9-MuiCardHeader-avatar{
        display: flex;
        align-items: center;
    }

    .css-7lpzx9-MuiAvatar-root {
        height: 2rem !important;
        width: 2rem !important;
        margin: 0rem 0.2rem 0.2rem 1rem!important; 
    }

    .css-1qbkelo-MuiCardHeader-content{
        height: 3.2rem !important;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }

    .css-111s0v7-MuiTypography-root{
        font-size: 1.1rem !important;
        margin-top: 0rem !important;
        margin-bottom: -0.2rem !important;
    }

    .css-1t3luoj-MuiTypography-root{
        margin-bottom: 0rem !important;
        font-size: 0.8rem !important;
    }

    .css-3200hu-MuiCardMedia-root{
        margin: 0;
    }
    .social{
        width: 92.5%;  
        height: 1.5rem;  
        background: #EC5853;
        border: 1px solid #EC5853;
        box-sizing: border-box;
        margin-top: 0.8rem !important;   
    }

    .socialButton{
        display: flex;
    }

    .socialIcon{
        display: flex;
        height: 1.2rem;
        background-color: #fbf9f7;
        width: 4.9rem;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-left: 0.4rem;
        justify-items: center;
        justify-content: center;
        align-items: center;
        padding: 0 0rem;
        cursor: pointer;
        font-size: 0.5rem;
        font-family: 'karma';
        color: black;
    }
    
    .socialIcon svg{
        background-color: #FBF9F7;
        margin-right: 0rem;
        height: 0.8rem;
    }

    .socialRatingA{
        display: flex;
        height: 1.2rem;
        background-color: #fbf9f7;
        width: 2.4rem;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-right: rgba(0, 0, 0, 0.25) 1px solid;
    }

    .socialRatingA svg{
        background-color: #FBF9F7;
        height: 0.8rem;
    }

    .socialRatingB{
        display: flex;
        height: 1.2rem;
        background-color: #fbf9f7;
        width: 2.4rem;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0 0rem;
        border-left: rgba(0, 0, 0, 0.25) 1px solid;
    }

    .socialRatingB svg{
        background-color: #FBF9F7;
        height: 0.8rem;
    }


    .mainImg{
        border: 1px solid #EC5853;
        width: 92.5% !important;
        height: 12.805rem !important;
    }

    .descriptionFeed{
        border: 1px solid #EC5853;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        width: 92.5%;
    }

    .css-1lf7cpy-MuiTypography-root{
        font-size: 0.8rem !important;
    }
}

@media (min-width:640px){
    .feedCard{
        display: flex;
        width: 28rem;
        height: 27.5rem;
        margin: 2.5rem 0rem -0.5rem 0;
    }

    .css-1vq0zqz-MuiPaper-root-MuiCard-root{
        max-height: 30rem !important;
    }

    .css-1ssile9-MuiCardHeader-avatar{
        display: flex;
        align-items: center;
    }

    .css-7lpzx9-MuiAvatar-root {
        height: 2rem !important;
        width: 2rem !important;
        margin: 0rem 0rem 0.2rem 1rem!important; 
    }

    .css-1qbkelo-MuiCardHeader-content{
        height: 3.2rem !important;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }


    .userIntro img{
        height: 1.5rem !important;
        width: 1.5rem !important;
    }

    .css-111s0v7-MuiTypography-root{
        font-size: 1.1rem !important;
        margin-top: -0.4rem !important;
    }

    .css-1t3luoj-MuiTypography-root{
        margin-bottom: -0.2rem !important;
    }

    .social{
        width: 92.5%;  
        height: 1.5rem;  
        background: #EC5853;
        border: 1px solid #EC5853;
        box-sizing: border-box;
        margin-top: 0.8rem !important;   
    }

    .socialButton{
        display: flex;
    }

    .socialIcon{
        display: flex;
        height: 1.2rem;
        background-color: #fbf9f7;
        width: 5.4rem;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-left: 0.6rem;
        justify-items: center;
        justify-content: center;
        align-items: center;
        padding: 0 0.1rem;
        cursor: pointer;
        font-size: 0.6rem;
        color: black;
    }
    
    .socialIcon svg{
        background-color: #FBF9F7;
        margin-right: 0.5rem;
        height: 0.8rem;
    }

    .socialRatingA{
        display: flex;
        height: 1.2rem;
        background-color: #fbf9f7;
        width: 2.5rem;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .socialRatingA svg{
        background-color: #FBF9F7;
        height: 0.8rem;
    }

    .socialRatingB{
        display: flex;
        height: 1.2rem;
        background-color: #fbf9f7;
        width: 2.5rem;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0 0.1rem;
        
    }

    .socialRatingB svg{
        background-color: #FBF9F7;
        height: 0.8rem;
    }


    .mainImg{
        border: 1px solid #EC5853;
        width: 92.5% !important;
        height: 15.95rem !important;
    }

    .descriptionFeed{
        border: 1px solid #EC5853;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        width: 92.5%;
    }

    .css-1lf7cpy-MuiTypography-root{
        font-size: 0.8rem !important;
    }
}

@media (min-width:768px){
    .feedCard{
        display: flex;
        width: 31.7rem;
        height: 34rem;
        margin: 2.2rem 0rem -4rem 0;
    }

    .css-1vq0zqz-MuiPaper-root-MuiCard-root{
        max-height: 35rem !important;
    }

    .css-7lpzx9-MuiAvatar-root {
        height: 2.5rem !important;
        width: 2.5rem !important;
        margin: 0rem 0rem 0.5rem 0.5rem!important; 
    }

    .css-1qbkelo-MuiCardHeader-content{
        height: 3rem !important;
        margin-left: 0rem;
        margin-top: 0.3rem;
    }

    .social{
        width: 94%;  
        height: 2.8rem;  
        background: #EC5853;
        border: 1px solid #EC5853;
        box-sizing: border-box;
        margin-top: 1rem;   
    }

    .socialButton{
        display: flex;
    }

    .socialIcon{
        display: flex;
        height: 2rem;
        background-color: #fbf9f7;
        width: 6.5rem;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-left: 0.5rem;
        justify-items: center;
        justify-content: center;
        align-items: center;
        padding: 0 0.1rem;
        cursor: pointer;
        font-size: 0.7rem;
        color: black;
    }
    
    .socialIcon svg{
        background-color: #FBF9F7;
        margin-right: 0.5rem;
        height: 1rem;
    }

    .socialRatingA{
        display: flex;
        height: 2rem;
        background-color: #fbf9f7;
        width: 2.8rem;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-right: rgba(0, 0, 0, 0.25) 1px solid;
    }

    .socialRatingA svg{
        background-color: #FBF9F7;
        height: 1rem;
    }

    .socialRatingB{
        display: flex;
        height: 2rem;
        background-color: #fbf9f7;
        width: 2.8rem;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0 0.1rem;
        border-left: rgba(0, 0, 0, 0.25) 1px solid;
        
    }

    .socialRatingB svg{
        background-color: #FBF9F7;
        height: 1rem;
    }


    .mainImg{
        border: 1px solid #EC5853;
        width: 94% !important;
        height: 18.52rem !important;
    }

    .descriptionFeed{
        border: 1px solid #EC5853;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        width: 94%;
    }
    
    .css-1lf7cpy-MuiTypography-root{
        font-size: 1rem !important;
    }
}

@media (min-width:840px){
    .feedCard{
        display: flex;
        width: 31.7rem;
        height: 40rem;
        margin: 0.2rem 0rem -7rem 0;
    }
    
    .css-1vq0zqz-MuiPaper-root-MuiCard-root{
        max-height: 35rem !important;
    }

    .social{
        width: 94%;  
        height: 3.2rem;  
        background: #EC5853;
        border: 1px solid #EC5853;
        box-sizing: border-box;
        margin-top: 1rem;   
    }

    .socialButton{
        display: flex;
    }

    .socialIcon{
        display: flex;
        height: 1.8rem;
        background-color: #fbf9f7;
        width: 6.8rem;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-left: 0.4rem;
        justify-items: center;
        justify-content: center;
        align-items: center;
        padding: 0 0.1rem;
        cursor: pointer;
        font-size: 0.7rem;
    }
    
    .socialIcon svg{
        background-color: #FBF9F7;
        margin-right: 0.4rem;
        height: 1rem;
    }

    .socialRatingA{
        display: flex;
        height: 1.8rem;
        background-color: #fbf9f7;
        width: 3.2rem;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .socialRatingA svg{
        background-color: #FBF9F7;
        height: 1rem;
    }

    .socialRatingB{
        display: flex;
        height: 1.8rem;
        background-color: #fbf9f7;
        width: 3rem;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0 0.1rem;
        
    }

    .socialRatingB svg{
        background-color: #FBF9F7;
        height: 1rem;
    }


    .mainImg{
        width: 94% !important;
        height: 18.53rem !important;
    }

    .descriptionFeed{
        font-size: 1rem;
        width: 94%;
    }
}

@media (min-width:1024px){
    .feedCard{
        margin: 0.2rem 0rem -7rem 0;
    }
    
    .css-1vq0zqz-MuiPaper-root-MuiCard-root{
        max-height: 35rem !important;
    }
}

@media (min-width:1200px){
    *{
        font-family: 'Karma';
    };

    .feedSection{
    
    }

    .css-1vq0zqz-MuiPaper-root-MuiCard-root{
        max-height: 38rem !important;
    }

    .feedCard{
        width: 38.5rem;
        height: 40rem !important;
        margin: 0.2rem 0rem 0rem 0;
    }

    .social{
        width: 95%;    
        margin-top: 1.5rem;  
        padding: 0.3rem !important; 
    }

    .socialIcon{
        height: 2rem;
        width: 7.5rem;
        margin-left: 0.6rem;
        padding: 0 0.2rem;
        font-size: 0.8rem;
    }

    .socialRatingA, .socialRatingB {
        height: 2rem;
        width: 3.5rem;
    }

    .socialIcon svg{
        margin-right: 0.5rem;
        height: 1.1rem !important;
    }

    .mainImg{
        width: 95% !important;
        height: 23.03rem !important;
    }

    .descriptionFeed{
        width: 95%;
        margin-bottom: 0.5rem;
    }
   
}