.container {
  padding: 3px;
  cursor: pointer;
}

.containerSelect {
  background-image: linear-gradient(#f5b7b1, #cb4335);
  font-weight: 800;
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  padding: 5.2px;
  border: transparent;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  color: rgb(32, 29, 29);
  outline: none;
  transition-duration: 1.6s;
}

.containerSelect:hover {
  color: white;
  background-image: linear-gradient(#e69d96, #5f1007);
  transition-duration: 1.6s;
}

.containerSelectOp {
  background-color: #b6716b;
  font-weight: 800;
  font-family: 'Roboto Slab', serif;
  padding: 5.2px;
  cursor: pointer;
  color: rgb(20, 20, 20);
}

.containerSelectOp1 {
  background-color: #b6716b;
  font-weight: 800;
  font-family: 'Roboto Slab', serif;
  padding: 5.2px;
  cursor: pointer;
  color: rgb(248, 246, 246);
}
