.navbar {
    display: flex;
}

.logo {
    height: 4.2rem;
    width: auto;
}

.toolBar {
    background: #EC5853;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF6961, #EC5853);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF6961, #EC5853);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-between;
}

.loginButton {
    display: flex;
    color: #fff;
    background-color: transparent;
    border:.8px solid #fff;
    font-size: .9rem;
    font-weight: 600;
    font-family: roboto;
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    margin: 0rem .5rem;
    justify-content: center;
    align-items: center;
}

.registerButton {
    display: flex;
    color: #FF6961;
    background-color: #fff;
    font-size: .9rem;
    font-weight: 600;
    font-family: roboto;
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    margin: 0rem .5rem;
    justify-content: center;
    align-items: center;
}


.loginButton svg {
    padding: 0.1rem 0;
    margin-left: 0.4rem;
}

.menuLeft {
    display: flex;
    align-items: center;
}

.menuRight {
    display: flex;
    align-items: center;
    font-size: 1rem
}

@media screen and (max-width: 720px) {
    .loginButton {
        display: none;
    }

    .registerButton {
        display: none;
    }
}
    
