* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #faf9ec;
}

.login-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 5px;
}

.login-div {
  width: 100%;
}

.login-form {
  margin: 2px 100px;
}

.login-title {
  font-size: 25px;
  text-align: center;
  letter-spacing: 1px;
  margin: 0 100px;
}

.login-img img {
  min-height: 100vh;
}

input,
button {
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
}

input {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #e8e8e8;
  letter-spacing: 0.5px;
  padding: 14px 64px;
  margin: 10px 0px;
}

.login-button {
  color: #fff;
  padding: 10px 64px;
  margin: 2px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  cursor: pointer;
  background: #ec5853;
  width: 60%;
  display: flex;
  justify-content: center;
}

.login-button:hover {
  color: #1c1c1c;
}

h4 {
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  margin: 0 1px;
}

@media screen and (max-width: 720px) {
  .login-img img {
    display: none;
  }

  .login-container {
    width: 100%;
    background: #faf9ec;
  }

  .login-div,
  .login-form,
  .login-title {
    margin: 0 30px;
    font-size: 20px;
  }

  input,
  .login-button {
    font-size: 15px;
  }
}
