.register-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
}

.register-div {
  width: 50%;
  margin: auto;
}

.register-form {
  margin: 0 100px;
}

.register-form-control {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 1px;
  box-sizing: border-box;
  margin-bottom: 1px;
  font-size: 16px;
}

.register-form-control .errorMessage {
  color: red;
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  margin: 2rem auto 0 auto;
  align-items: center;
}

.register-title {
  font-size: 25px;
  text-align: center;
  letter-spacing: 1px;
  margin: 0 100px;
}

.register-img {
  width: 50%;
  height: 100%;
}

.register-img img {
  width: 100%;
  height: 100%;
}

.register-container button {
  margin: 6px;
}

.register-container input,
.register-container button {
  outline: none;
  border-radius: 5px;
}

.register-container input {
  width: 100%;
  display: flex;
  border: none;
  justify-content: center;
  background: #e8e8e8;
  letter-spacing: 0.5px;
  padding: 14px 64px;
  margin: 10px 0px;
}

.register-button {
  color: #fff;
  padding: 15px 15px;
  margin: 0px auto;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  cursor: pointer;
  background: #ec5853;
  width: min(100%, 50%);
  display: flex;
  justify-content: center;
}

.register-button:hover {
  color: #1c1c1c;
}

.register-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-container h6 {
  text-align: center;
  letter-spacing: 1px;
  margin: 0 1px;
}

@media all and (max-width: 720px) {
  .login-container button {
    display: block;
    font-size: 14px;
    width: 100%;
  }

  .register-div {
    width: 80%;
  }
}

@media screen and (max-width: 1274px) {
  .register-img {
    display: none;
  }

  .register-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    align-items: center;
  }

  .register-container .errorMessage {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0 auto;
    align-items: center;
  }

  .register-div,
  .register-form,
  .register-title {
    margin: auto;
    font-size: 20px;
  }

  .register-div {
    width: 70%;
  }
  .register-container input,
  .register-button {
    font-size: 14px;
  }
}

.registerExitoso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: auto;
  color: #ec5853;
}
