.categoryList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4.2rem;
}

.containerList {
  display: flex;
  flex-direction: column !important;
  /* max-width: 50rem; */
  justify-content: center;
  align-items: center;
  /* margin-left: 8rem !important;
  margin-top: 4.2rem !important; */
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(
    rgba(215, 219, 221, 0.4),
    rgba(156, 40, 27, 2)
  ); */
  /* background-image: linear-gradient(
    rgba(245, 248, 248, 0.384),
    rgba(209, 202, 202, 0.7)
  ); */
  border-radius: 0.2rem;
  animation: principal 1.5s forwards;
  cursor: pointer;
}

.containerList:hover {
  animation: principal-hover 1.5s forwards;
  /* background-image: linear-gradient(
    rgba(245, 248, 248, 5.5),
    rgba(141, 31, 19, 0.7)
  ); */
  background-image: linear-gradient(
    rgba(245, 248, 248, 0.308),
    rgba(197, 181, 179, 0.7)
  );
}
