* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif !important;
  
}

main {
  width: 100vw;
  height: 100vh;
  margin-top: 3%;
  /*overflow-x: hidden;*/
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}